*{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f4f8;
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #00b4db, #004b88);
}

.register-title {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.register-form {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px;
}

.input-group {
  position: relative;
  margin-bottom: 30px;
}

.input-group input,
.input-group select {
  
  padding: 15px;
  border: none;
  border-bottom: 2px solid #004b88;
  background: transparent;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
}
.input-group .district{
  position: relative;
  width: 14rem;
  /* background-color: red; */
}

.input-group label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #004b88;
  pointer-events: none;
  transition: 0.3s ease all;
}

.input-group .verify{
  position: absolute;
  top: 35%;
  left: 190px;
  padding: 5px;
  border: none;
  cursor: pointer;
  color: #004b88;
  background-color: transparent;
}

.input-group input:focus,
.input-group select:focus {
  border-color: #00b4db;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label, /* Ensures label stays up when input has a value */
.input-group select:focus + label,
.input-group select:not(:placeholder-shown) + label {
  top: -10px;
  font-size: 0.8rem;
  color: #00b4db;
}

.register-button,
.reset-button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-button {
  background-color: #004b88;
  color: white;
}

.register-button:hover {
  background-color: #00b4db;
}

.reset-button {
  background-color: #e0e0e0;
  margin-left: 4%;
}

.reset-button:hover {
  background-color: #c6c6c6;
}

.button-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Responsive Design */
@media (max-width: 500px) {
  .register-form {
    padding: 30px;
  }

  .register-title {
    font-size: 2rem;
  }

  .button-group {
    flex-direction: column;
  }

  .register-button,
  .reset-button {
    width: 100%;
    margin-bottom: 10px;
  }
}